<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super admin only</title>
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 24px;
            color: #333;
        }
        p {
            font-size: 16px;
            color: #666;
        }
        .icon {
            font-size: 48px;
            color: #ff6347;
        }
        a {
            color: #007bff;
            text-decoration: none;
        }

        .header-bottom-actions {
            display: flex;
            justify-content: center;
        }

        .header-bottom-actions-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            text-decoration: none;
            margin: 0 10px;
        }

        .header-bottom-actions-btn ion-icon {
            margin-bottom: 5px;
        }
    </style>

</head>
<body>
    <div class="icon">🏠</div>
    <h1>Forbidden, you do not have the required permission to access this route.</h1>
    <p>You are not a verified farmer of AgroTech SL. <a href="/">Go back home</a>.</p>
</body>
</html>