<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
    <title>Top Real Estate Agency in Nigeria | Buy, Sell, or Rent Properties | HomeHub Agency - Sign Up
    </title>
   <!-- Meta Description Tag -->
  <meta name="description" content="HomeHub Agency is Nigeria's leading real estate marketplace. Find your dream house effortlessly with our comprehensive, user-friendly platform. Connect seamlessly with house owners, tenants, and buyers.">
  
  <!-- Meta Keywords Tag -->
  <meta name="keywords" content="
  real estate agency in Nigeria,
  real estate,
  buy house,
  rent house,
  sell house,
  property marketplace,
  luxury homes for sale,
  apartment for sale,
  affordable homes for sale,
  house for sale,
  home for rent,
  property for rent,
  real estate listings,
  real estate investment,
  home buying process,
  first-time homebuyer,
  real estate agent,
  best real estate agents,
  commercial real estate,
  residential real estate,
  real estate broker,
  mortgage calculator,
  real estate market trends,
  homeownership benefits,
  real estate development,
  investment property,
  property taxes,
  foreclosure,
  homeowners insurance,
  home maintenance tips">
    <!-- Meta Author Tag -->
    <meta name="author" content="John Blesson Rowe">
    <style>
        a {
            text-decoration: none;
            color: #151cea;
        }
        a:hover {
            color: #000;
            text-decoration: none;
        }   
        .error-message {
            color: red;
            text-align: center;
            margin-bottom: 1em;
            font-size: 1em;
        }

        .file-input-container {
            position: relative;
            width: 250px;
        }
        .file-input {
            width: 100%;
            height: 40px;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
        }
        .file-input-label {
            width: 100%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 2px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
            color: #999;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }
        .file-input-container input[type="file"]:focus + .file-input-label {
            outline: 2px solid #3b82f6;
        }
        .submit-button {
            margin-top: 60px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #3b82f6;
            color: #fff;
            cursor: pointer;
        }
        .submit-button:hover {
            background-color: #2563eb;
        }
        .hall {
            font: 0.6em sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-container sign-up">
            <form action="/signup" method="post" enctype="multipart/form-data">
                <h1>Create your account</h1>
                <!-- Display flash error messages -->
                <% if (errorMessages && errorMessages.length > 0) { %>
                    <div class="error-message">
                        <% errorMessages.forEach(function(message) { %>
                            <p><%= message %></p>
                        <% }); %>
                    </div>
                <% } %>

                <input type="text" name="fullname" placeholder="Full Name" required>
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email (Optional)">
                <input type="text" name="phone" placeholder="Phone Number" required>
                <div class="password-wrapper">
                    <input type="password" name="password" id="password" placeholder="Password" required>
                    <i class="toggle-password fas fa-eye-slash"></i>
                </div>

                <div class="file-input-container">
                    <input type="file" name="photo" accept="image/*" class="file-input" id="fileInput">
                    <label for="fileInput" class="file-input-label"><i class="fas fa-upload"></i>  Upload profile photo...</label>
                </div>

                <button type="submit" class="submit-button">Submit</button>

                <p class="hall">
                    Check out the <a href="/registration-process-statement">Registration Statement Process</a>
                </p>

                <p class="hall">Already have an account? <a href="/login">Login</a></p>
            </form>
            <p class="hall">
                By clicking 'Submit' above, you acknowledge that you have read and agree to Homehub Agency's 
                <a href="/terms-and-conditions">Terms and Conditions</a>, 
                <a href="/services-fee-agreement">Service Fee Agreement</a> 
                and <a href="/privacy-policy">Privacy Policy</a>.
            </p>
        </div>
    </div>

    <script>
        const togglePassword = document.querySelector('.toggle-password');
        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', function (e) {
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');

            if (type === 'password') {
                password.style.width = 'calc(100% - 40px)';
            } else {
                password.style.width = '100%';
            }
        });
    </script>

    <script>
        document.getElementById('fileInput').addEventListener('change', function() {
            var label = this.nextElementSibling;
            var fileName = this.files[0] ? this.files[0].name : 'Choose a file...';
            label.textContent = fileName;
        });
    </script>
</body>
</html>
