<section class="about" id="about">
  <div class="container">
      <figure class="hero-banner" style="padding: 20px; padding-top: 0;">
          <img src="./images/qcell.jpg" style="padding: 5px;" alt="Qcell Logo">
      </figure>
      <div class="about-content">

          <p class="section-subtitle">AgroTech Farming Program</p>

          <h2 class="h2 section-title">Join the AgroTech Farming Program</h2>

          <p class="about-text">
              The AgroTech Farming Program is designed specifically for farmers in Sierra Leone who are passionate about agriculture. By joining this program, farmers gain full access to a variety of valuable resources to enhance their productivity and success.
          </p>

          <div class="callout">

              <strong><p>Eligibility:</strong> To be a part of the AgroTech Farming Program, you must first create an account with AgroTech SL. Applications for the program require a Qcell number (codes: 31, 32, or 34). Email submission is optional.</p><br>

              <strong><p>Access to Resources:</strong> As a member of the AgroTech Farming Program, you will receive:</p>
              <ul>
                  <li>Daily farming tips tailored to your specific needs.</li>
                  <li>Online and offline weather updates via Qcell, keeping you informed about the best times to plant and harvest.</li>
                  <li>Exclusive access to agricultural resources, including guides and tools to improve your farming techniques.</li>
              </ul>

              <strong><p>Post Your Products for Free:</strong> Farmers can freely post their farming and agricultural products on our platform, connecting with potential buyers easily.</p><br>

              <strong><p>Community Support:</strong> Join a community of like-minded farmers where you can share experiences, ask questions, and get advice from your peers.</p><br>
              
              <p>Join us in revolutionizing agriculture in Sierra Leone by signing up for the AgroTech Farming Program today!</p>
          </div>
          <a href="#" onclick="redirectToForm('<%= role %>')" class="btn">Apply Now</a>
      </div>
  </div>
</section>

<script>
  function redirectToForm(role) {
      if (role === 'admin') {
        window.location.href = '/agents-admin';
      } else if (role === 'user') {
        window.location.href = '/agents';
      }
    }
</script>