<main>
    <article>

<!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">
              <ion-icon name="leaf"></ion-icon>

              <span>Qcell Agriculture Empowerment</span>
            </p>

            <h2 class="h1 hero-title">Empowering Farmers in Sierra Leone</h2>

            <p class="hero-text">
              AgroTech Platform is dedicated to supporting local farmers. Access market opportunities, training resources, and tools to enhance your agricultural productivity.
            </p>

            <a href="/create-product-admin">
            <button class="btn">Add Product</button>
          </a>
          </div>

          <figure class="hero-banner">
            <img src="./images/farming-banner.jpg" alt="Modern house model" class="w-100">
          </figure>

        </div>
      </section>
